<!DOCTYPE html>
<html>
<head>
  <title>WebSys</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<header style="background-color: #ffffff; padding: 20px 0px 0px 0px;" class="container">

  <div class="row">
    <div class="col-sm-6">
      <%= image_tag("book.jpg", :size => "300x100", :alt => "eyecatch", :class=>"img-responsive")%>
    </div>

    <div class="col-sm-3" style=" padding: 27px 0px 0px 0px;">
      <div style="padding: 0px 0px 0px 0px;">
        <button type="button" class="btn btn-info btn-sm btn-block">
          新規登録はこちら
        </button>
      </div>
      <div style="padding: 20px 0px 0px 0px;">
        <button type="button" class="btn btn-info btn-sm btn-block">
          カート
        </button>
      </div>
    </div>

    <div class="col-sm-3">
      <form role="form">
        <div class="form-group">
          <label for="InputEmail" style="font-size: 15px">
            Email address
          </label>
          <input type="email" class="form-control" id="InputEmail" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="InputPassword" style="font-size: 15px">
            Password
          </label>
          <input type="password" class="form-control" id="InputPassword" placeholder="Password">
          <div style="padding: 10px 0px 0px 0px;">
            <button type="button" class="btn btn-info btn-sm">
              ログイン
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="row">
      <div class="col-sm-3">

      </div>

      <div class="col-sm-6">

      </div>

      <div class="col-sm-3">

      </div>
    </div>

  </div>
</header>


<section class="container">
  <%= yield %>
</section>


<footer style="background-color: #777; padding: 20px 20px 20px 20px;" class="container">

  <div class="row">
    <div class="col-sm-4">
      <p class="lead" style="font-size: 15px">
        O書店について
      </p>
      <ul>
        <li>AboutUs</li>
        <li>お問い合わせ</li>
        <li>利用条件</li>
      </ul>
    </div>

    <div class="col-sm-4">
      <p class="lead" style="font-size: 15px">
        当サイトについて
      </p>
      <ul>
        <li>PrivacyPolicy
        <li>サイトマップ</li>
      </ul>
    </div>

    <div class="col-sm-4">
      <p class="lead" style="font-size: 15px">
        その他
      </p>
      <ul>
        <li>ライセンス</li>
      </ul>
    </div>

  </div>
</footer>


</body>
</html>
